<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IMSFileWatcherCopyService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IMSFileWatcherCopyService.Properties.Settings>
            <setting name="SourceUsername" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="SourcePassword" serializeAs="String">
                <value>Sinet5609</value>
            </setting>
            <setting name="SourceDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceServer" serializeAs="String">
                <value>\\G0000102\d$</value>
            </setting>
            <setting name="SourceDirectory" serializeAs="String">
                <value>\SinetNode\LogTasks\TagLogTask</value>
            </setting>
            <setting name="DestinationServer" serializeAs="String">
                <value>E:\shares</value>
            </setting>
            <setting name="DestinationDirectory" serializeAs="String">
                <value>\IMS-Data\IMS Test Stand Data</value>
            </setting>
        </IMSFileWatcherCopyService.Properties.Settings>
    </userSettings>
</configuration>